<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlipayLock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C024856F1BDA1F6800C912B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C024858B1BDA1F6A00C912B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02485961BDA1F6A00C912B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
